<?xml version="1.0"?>
<launch>
  <arg name="package_root" value="$(dirname)/../../"/>
  <arg name="auto_reset" default="true"/>

  <arg name="dump_root" value="$(arg package_root)/logs"/>
  <arg name="dump_prefix"
    value="$(arg dump_root)/orbslam3_$(arg dataset)_$(arg sequence)"/>

  <arg name="lost_dumpfile_name" value="$(arg dump_prefix).lost"/>
  <arg name="init_dumpfile_name" value="$(arg dump_prefix).init"/>

  <arg name="nodename" value="orbslam3_mono_imu"/>
  <arg name="bindir" value="/catkin/lib/orbslam3_docker_ros"/>
  <arg name="binary" value="$(arg bindir)/mono_imu__containerized"/>

  <!-- Specify container launcher parameters as the following. -->
  <rosparam subst_value="true" ns="$(arg nodename)__launcher">
    touchs:
      - $(arg dump_prefix).lost
      - $(arg dump_prefix).init
    mounts:
      - $(arg package_root)/config:/config:ro
      - $(arg dump_prefix).lost:/var/log/orbslam3.dump.lost
      - $(arg dump_prefix).init:/var/log/orbslam3.dump.initialization
  </rosparam>

  <node pkg="cyclops_launch_script" type="container_launcher"
      args="__image:=orbslam3-docker-app __binary:=$(arg binary)"
      name="$(arg nodename)" output="screen">
    <rosparam subst_value="true">
      clahe:
        clip_limit: 3.0
        tilesize:
          width: 8
          height: 8

      vocabulary_path: /ORBvoc.txt
      settings_path: /config/orbslam.config.$(arg dataset).yaml

      imu_callback_queue_size: 2048
      image_callback_queue_size: 256
      image_data_buffer_maxsize: 128

      data_consume_worker_loop_delay_ms: 1
      imu_topic: imu
      image_topic: camera

      tracking_image_publish_topic: tracking_image
      camera_pose_publish_topic: camera_pose
      map_points_publish_topic: map_points
    </rosparam>
  </node>
</launch>
