<?xml version="1.0"?>
<launch>
  <arg name="sequence"/>
  <arg name="dataset" default="EuroC"/>
  <arg name="dataset_dir" value="$(dirname)/../dataset/$(arg dataset)"/>
  <arg name="dataset_path" value="$(arg dataset_dir)/$(arg sequence).bag"/>

  <arg name="mode" default="cyclops"/>

  <arg name="play_rate" default="1.0"/>
  <arg name="auto_reset" default="true"/>

  <param name="use_sim_time" type="bool" value="true"/>

  <include pass_all_args="true" file="$(dirname)/dataset.launch"/>

  <include if="$(eval mode == 'cyclops')"
    file="$(dirname)/components/cyclops.launch">
    <arg name="auto_reset" value="$(arg auto_reset)"/>
  </include>

  <include if="$(eval mode == 'orbslam')"
    file="$(dirname)/components/orbslam.launch">
    <arg name="auto_reset" value="$(arg auto_reset)"/>
  </include>

  <node type="rviz" name="rviz" pkg="rviz"
    args="-d $(dirname)/../config/$(arg mode).visual.rviz"/>

  <node if="$(eval not auto_reset)" pkg="cyclops_launch_script"
    name="reset_publisher" type="reset_button" output="log"/>
  <node if="$(eval auto_reset)" pkg="cyclops_launch_script"
    name="reset_publisher" type="reset_publisher"/>
</launch>
